<div class="blazor-dropdown-parent">
	<button class="oi oi-menu btn blazor-dropdown" @onclick="ToggleDropdown"></button>
	@if (Open)
	{
		<div class="blazor-dropdown-arrow"></div>
		<div class="blazor-dropdown-container">
		@foreach (var (name, route) in Items)
		{
			<a href="@route">@name</a>
		}
		</div>
	}
</div>

@code {
	[Parameter] public IList<(string, string)> Items { get; set; }
	private bool Open { get; set; }
	
	private void ToggleDropdown(MouseEventArgs e)
	{
		Open = !Open;
	}
}